@import "normalize.css";
@import "tailwind.css";

/* tooltip 纯css实现 */
.i-tool-tip {
  position: relative;
}

.i-tool-tip::after {
  content: attr(data-tip-content);
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 2px 10px;
  transform: translate(-50%, calc(-100% - 20px));
  border-radius: 5px;
  /* 禁止换行，保证撑开容器 */
  white-space: nowrap;
  font-size: 14px;
}
.i-tool-tip::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid rgba(255, 255, 255, 0.6);
  left: 50%;
  top: 0;
  transform: translate(-50%, calc(-100% - 13px));
}
.i-tool-tip::after,
.i-tool-tip::before {
  display: none;
}
.i-tool-tip:hover::after,
.i-tool-tip:hover::before {
  display: block;
}

/* mac desk 渐变背景 */
.mac-bg {
  height: 100vh;
  background-image: linear-gradient(-225deg, #e14fad 0%, #f9d423 100%);
}

/* dropdown item 高亮颜色 */
.DropdownMenuItem[data-highlighted] {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}
